{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='message.css') }}">
<script language="javascript">
    username = "{{ username }}"
</script>
<script src="{{ url_for('static', filename='message.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="sidenav">
        <!-- channel list         -->
        <ul id="channel-list">
            
<!--             {% for channel in channels %}
                <li><a href="#{{ channel }}" data-channel="{{ channel }}" class="channel">{{ channel }}</a></li>
            {% endfor %}
 -->
        </ul>
    </div>

    <div class="main">
        <!-- new channel  -->
        <div id="channel">
            <!-- button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createChannel">New Channel</button> 

            <!-- modal  -->
            <div class="modal fade" id="createChannel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form id="channel_form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create New Channel</h5>
                                <button type="buttton" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="channel-name" class="col-form-label">New Channel:</label>
                                        <input type="text" class="form-control" id="new_channel" autocomplete="off">
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" >Create Channel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="chat">
            <ul id="messages">
            </ul>
        </div>
        <div id="my_message">
            <div class="container">
            <!-- <div class="container-fluid"> -->
                <form id="message_form">
                    <div class="form-row">
                    <!-- <div class="form-row align-items-center"> -->
                        <div class="col-8">
                            <input id="new_message" type="text" class="form-control" placeholder="New Message" autocomplete="off" autofocus>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


